<nav class="navbar navbar-expand-lg bg-dark bg-dark">
  <div class="container-fluid text-bg-dark">
    <%= link_to admin_signed_in? ? 'Hi ' + current_user.name : 'E Store', user_home_path, class: "navbar-brand text-bg-dark" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-bg-dark"></span>
    </button>

    <%= render "layouts/shared/nav_items" %>
    <%= render "layouts/shared/nav_user_actions" %>

  </div>
</nav>